<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        새로운 글 작성하기
    </h1>

    <form action="{%url 'create'%}" method = "POST" enctype="multipart/form-data">
        {%csrf_token%}
        제목: <input type="text" name="title">
        작성자: <input type="text" name="publisher">
        타이틀 화면: <input type="file" name="rep_img">
        <hr>
        본문: <textarea name="body" id="" cols="30" rows="10"></textarea>
        <button type="submit">작성</button>
    </form>
</body>
</html>