{% extends 'base.html' %}
{% block stylesheet %}
{% endblock %}
{% block title %}
singun11과 함께 춤을
{% endblock %}
{% block content %}
{% load bootstrap4 %}
{% include 'nav.html' %}
<div class="card-deck col-10">

    {%for post in posts %}

    <div class="card col-3" style="width: 18rem; height: 25rem;">
        <div style="overflow: hidden; width: 90%; height: 40%; padding:0; margin:0; ">
            {% if post.rep_img %}
            <img class="card-img-top" src="{{ post.rep_img.url }}"
                onclick="window.location.href = '{% url 'detail' post.id %}'">
            {% endif %}
        </div>
        <div class="card-body col col-12" onclick="window.location.href = '{% url 'detail' post.id %}'">
            <h5 class="card-title">{{post.title_summary}}</h5>
            <p class="card-text">{{post.summary}}</p>
            <p class="card-text">{{post.hashtag}}</p>
            <p>
                {{post.published_at|date:"Y.m.d"}}
                ~~ 개의 댓글
            </p>
        </div>
        <hr>
        <span class="card-body">
            {% if post.like_count == 1%}
                <a class = "like" id = "like-text-{{post.id}}" name={{post.id}}> {{post.represent_user}} 님이 좋아합니다. </a>
            {% elif post.like_count > 1%} 
                <a class = "like" id = "like-text-{{post.id}}" name={{post.id}}> {{post.represent_user}} 님 외에  <script> document.write({{ post.like_count }} -1); </script> 명이 좋아합니다. </a>
            {% else %}
                <a class = "like" id = "like-text-{{post.id}}" name={{post.id}}>좋아요 0 개</a>
            {%endif%}

            <a href="#" class="card-link">{{post.publisher}}</a>
        </span>

    </div>

    {%endfor%}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(".like").click(function () {
        var post_id = $(this).attr('name');
        $.ajax({
            type: "POST",
            url: "{% url 'like' %}",
            data: { 'post_id': post_id, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: "json",
            success: function (response) {
                var cnt = response.like_count * 1;
                if(cnt == 0) {
                    $("#like-text-" + post_id).html("좋아요 0개");
                }
                else if(cnt == 1) {
                    $("#like-text-" + post_id).html(response.represent_user + "님이 좋아합니다.");
                }
                else {
                    $("#like-text-" + post_id).html(response.represent_user + "님 외에" + (cnt - 1) + "명이 좋아합니다.");

                }
            },
            error: function (request, status, error) {
                alert("로그인이 필요합니다.")
                //window.location.replace("/account/login/")
            },
        });
    })
</script>
{% endblock %}
