.post-rep-img {
    width: 100%;
}

.post-cover {
    width: 100%;
    height: 300px;
}

a {
    color: black;
}

.upper {
    margin-top: 20px;
    height: 200px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 2px 2px gray;
}

.inner {
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.inner .content {
    box-shadow: 1px 1px 2px 2px gray;
}

.inner .hashtag {
    box-shadow: 1px 1px 2px 2px gray;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.background {
    height: 200px;
    width:100%;
    opacity: 0.3; 
    overflow: hidden;
}

.background img {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -15%;   
}

.background-title a {
    font-weight: bold;
}

.background-title {
    position: absolute;
    top:15%;
    margin-left: 30px;
}